@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
	height: 100vh;
	width: 100vh;
}

.btn_landing_page:hover {
	background: linear-gradient(to right, #19b9a9, #aaeae4);
}
/* .alternate-row {
	background-color: #125b52;
	color: "#000000";
} */
